@font-face {
	font-family: 'DIN Pro';
	src: url('DINPro-Light.eot');
	src: local('DIN Pro Light'), local('DINPro-Light'),
		url('DINPro-Light.eot?#iefix') format('embedded-opentype'),
		url('DINPro-Light.woff') format('woff'),
		url('DINPro-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Pro';
	src: url('DINPro.eot');
	src: local('DIN Pro'), local('DINPro'),
		url('DINPro.eot?#iefix') format('embedded-opentype'),
		url('DINPro.woff') format('woff'),
		url('DINPro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Decima Mono Pro';
	src: url('DecimaMonoPro-Bold.eot');
	src: local('Decima Mono Pro Bold'), local('DecimaMonoPro-Bold'),
		url('DecimaMonoPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('DecimaMonoPro-Bold.woff') format('woff'),
		url('DecimaMonoPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Decima Mono Pro';
	src: url('DecimaMonoPro.eot');
	src: local('Decima Mono Pro Regular'), local('DecimaMonoPro'),
		url('DecimaMonoPro.eot?#iefix') format('embedded-opentype'),
		url('DecimaMonoPro.woff') format('woff'),
		url('DecimaMonoPro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}