.background.svelte-l8xc9p{width:100%;height:100%;overflow:hidden;position:relative}.image.svelte-l8xc9p{height:100%;opacity:0}.block.svelte-l8xc9p{position:absolute;bottom:80px;left:16px}.scroll.svelte-l8xc9p{position:absolute;bottom:24px;left:calc(50% - 16px);z-index:2000}.content{padding:32px 16px 0 16px;box-sizing:border-box}.button-group{margin-top:24px;margin-bottom:24px;width:100%;display:flex;flex-direction:row}.animatable.svelte-l8xc9p{opacity:0}.rotate.svelte-l8xc9p{display:none}@media all and (orientation:landscape){.rotate.svelte-l8xc9p{display:flex;flex-direction:column;width:100%;height:100%;position:fixed;justify-content:center;align-items:center;z-index:10000;top:0;left:0;background:black}}
.nav.svelte-165dqil{position:fixed;top:0;left:0;width:100%;display:flex;flex-direction:row;justify-content:space-between;z-index:5000}.button.svelte-165dqil:active{background:#FFFFFF12}.pop.svelte-165dqil{position:fixed;top:0;right:0;width:60vw;height:100vh;overflow:hidden;z-index:8000;background:black;border-left:#FFFFFF20 2px solid;box-sizing:border-box;padding:0 16px 0 16px}.exit.svelte-165dqil{padding:8px;position:absolute;top:0;right:0}.popover.svelte-165dqil{width:100vw;height:100vh;position:fixed;left:0;top:0;background:#000000A0;backdrop-filter:blur(6px);z-index:7000}.navi.svelte-165dqil{width:100%;height:48px}
.filled.svelte-11mjem1{padding:8px 12px 6px 12px;background:#FFFFFF;color:black}.margin.svelte-11mjem1{margin:0 0 0 24px}.thin.svelte-11mjem1{margin:24px 0 24px 0;font-weight:normal}
.pad.svelte-1wr1hhs{padding-bottom:24px}
.project.svelte-1hwong8{width:100%;height:192px;overflow:hidden;position:relative}.image.svelte-1hwong8{width:100%;opacity:0}.clickable.svelte-1hwong8{width:100%;height:100%;padding:16px;box-sizing:border-box;position:absolute;top:0;left:0}.floating.svelte-1hwong8{position:absolute;top:calc(50% - 16px);right:16px}.clickable.svelte-1hwong8:hover{background:#FFFFFF12}
.call.svelte-1322xcg{background:#0062FF}.fullsize.svelte-1322xcg{width:100%;margin:16px 0 16px 0 }.contacts.svelte-1322xcg{padding:24px 0 24px 0}
.popover.svelte-ocf4x2{width:100vw;height:100vh;position:fixed;left:0;top:0;background:#000000A0;backdrop-filter:blur(6px);z-index:7000;display:flex;justify-content:center;align-items:center}
table.svelte-1ql7z99{border-top:2px solid #FFFFFF20;box-sizing:border-box;border-bottom:2px solid #FFFFFF20;padding:20px;width:100%;text-align:center;margin:32px 0 32px 0}th.svelte-1ql7z99{width:50%;font-family:Decima Mono Pro;font-style:normal;font-weight:normal;font-size:14px;line-height:14px;text-align:center;text-transform:uppercase;color:rgba(255, 255, 255, 0.60);padding-bottom:16px}td.svelte-1ql7z99{width:50%;font-family:Decima Mono Pro;font-style:normal;font-weight:normal;font-size:18px;line-height:18px;padding:8px 0 8px 0;text-align:center;text-transform:uppercase}
.scrollable.svelte-1x3k531{width:100%;box-sizing:border-box;padding:0 16px 0 16px}.nav.svelte-1x3k531{width:100%;height:48px}.padding.svelte-1x3k531{background:#FFFFFF00;padding:8px;position:absolute;right:0}.padding.svelte-1x3k531:active{background:#FFFFFF12
}.carousel.svelte-1x3k531{margin-top:32px;height:100vw;width:100vw;overflow-x:scroll;overflow-y:hidden;display:flex;flex-direction:row}.frame-1.svelte-1x3k531{height:100%;display:flex;flex-direction:row}.frame.svelte-1x3k531{overflow:hidden;width:100vw;height:100vw;display:flex;justify-content:center;align-items:center}.image.svelte-1x3k531{max-width:100%;max-height:100%}

/*# sourceMappingURL=bundle.css.map */