html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: white;
	background: black;
	margin: 0;
	padding: 0;
	font-family: 'DIN Pro'
}

p {
	font-family: DIN Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: rgba(255, 255, 255, 0.6);
	margin-top: 0px;
	margin-bottom: 8px;
}

.p {
	font-family: DIN Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: rgba(255, 255, 255, 0.6);
	margin-top: 0px;
	margin-bottom: 8px;
}

h1 {
	font-family: DIN Pro;
	font-style: normal;
	font-weight: 300;
	font-size: 48px;
	line-height: 59px;
	margin-top: 8px;
	margin-bottom: 8px;
	color: #FFFFFF;
	white-space: pre-line;
}

h2 {
	font-family: DIN Pro;
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 36px;
	color: #FFFFFF;
	white-space: pre-line;
}

h4 {
	font-family: Decima Mono Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 18px;
	/* identical to box height, or 75% */
	text-transform: uppercase;
	margin: 16px 0 16px 0;
}

h6 {
	font-family: Decima Mono Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 18px;
	margin: 16px 0 16px 0;
	/* identical to box height, or 100% */

	color: rgba(255, 255, 255, 0.8);
}

h5 {
	font-family: DIN Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: rgba(255, 255, 255, 0.6);
	margin-top: 0px;
	margin-bottom: 8px;
	white-space: pre-line;
}

.blue {
	color: #408BFC;
}

hr {
	margin: 32px 0 32px 0;
	border: #FFFFFF20 solid 1px;
}

a {
	color: white;
	font-family: 'Decima Mono Pro';
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	font-feature-settings: 'zero' on;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #FFFFFF77;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input {
	padding: 10px 0 10px 0;
	background: none;
	border: none;
	border-bottom: #FFFFFF20 2px solid;
	font-family: Decima Mono Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	text-transform: uppercase;
	font-feature-settings: 'zero' on;

	color: rgba(255, 255, 255, 0.67);
}

input:focus {
	border-bottom: white 2px solid;
	color: white;
	outline: none;
}

.ml13 {
	/* font-size: 48px; */
	opacity: 0;
  }
  
  .ml13 .letter {
	display: inline-block;
	opacity: 0;
	/* line-height: 48px; */
  }



input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	background: none;
	outline: none;
	border: none;
	color: white;
	font-family: 'Decima Mono Pro';
	font-style: normal;
	margin: 8px 0 8px 0;
	padding: 0;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	font-feature-settings: 'zero' on;
	text-decoration: none;
	display: flex;
	flex-direction: row;
	align-items: center;
}

button:active {
	background-color: #FFFFFF12;
}

button:focus {
	background-color: #FFFFFF12;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: white;
	opacity: 0.67; /* Firefox */
  }
  

.icon {
	padding: 0 8px 0 8px;
}

.caption {
	font-family: Decima Mono Pro;
	margin: 0;
	font-style: normal;
	font-weight: 300;
	font-size: 48px;
	line-height: 48px;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: black;
    z-index: 7000;
    overflow-x: hidden;
    overflow-y: scroll;
}

.button-nav {
	padding: 16px 8px 16px 8px;
}

.button-nav:active {
	background: #FFFFFF12;
}
